TITLE="Test Plugin"
PLUGIN_NAME="test"
PLUGIN_CLASS="TestPlugin"
PLUGIN_DESCRIPTION="This is a test plugin"
PLUGIN_DATE="2011-06-16"
PLUGIN_AUTHOR="Hang Xiao"
PLUGIN_GUI="test_gui.h"
V3D_MAIN_PATH="../../work/v3d_external/v3d_main"

MENUS=("first item" "second item")
FUNCS=("first_item" "second_item")

DOFUNC="yes"

#MAINFUNCS=("mymain" "")
#SYSINVOKES=("" "mycmd")
